.about {
    height: 100vh;
    color: white;
    border-top: 2px solid #2AD882;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.colorLayer {
    position: relative;
    height: 350px;
    width: 300px;
    margin: 120px 100px 0px 200px;
    background-color: #2AD882;
}

.imageLayer {
    position: absolute;
    height: 350px;
    width: 300px;
    margin: -390px 100px 0px 240px;
}

.aboutMe {
    display: inline-flex;
    align-items: center;
}

.aboutMeText {
    font-size: 50px;
}

.line {
    height: 3px;
    margin-left: 20px;
    width: 450px;
    background: #2AD882;
}

.aboutText {
    width: 475px;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 20px;
}

.button {
    display: flex;
}

.hireMe {
    height: 42px;
    width: 130px;
    text-decoration: none;
    border: none;
    cursor: pointer;
    background-color: #2AD882;
}

.downloadCv {
    height: 42px;
    width: 130px;
    color: white;
    cursor: pointer;
    border: 2px solid #2AD882;
    margin-left: 20px;
}

.downloadcv {
    color: white;
}